<style>
    .photoGallery .gallery .image {
        width: 1280px;
        height: 720px;
        position: absolute;
        left: 0;
        top: 0;
        background-size: cover;
    }
</style>
<div id="gallery-content" class="photos">
    <div class="gallery" >
        <div class="image"></div>
        <div class="focusable left">
            <div class="arrowSVG">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 77 65" style="enable-background:new 0 0 77 65;" xml:space="preserve">
                <style type="text/css">
                    .st0{fill:#FFFFFF;}
                </style>
                <path class="st0" d="M0,0v65h77V0H0z M73,61H4V4h69V61z"/>
            </svg></div>
        </div>
        <div class="focusable right">
            <div class="arrowSVG">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 viewBox="0 0 77 65" style="enable-background:new 0 0 77 65;" xml:space="preserve">
                <style type="text/css">
                    .st0{fill:#FFFFFF;}
                </style>
                <path class="st0" d="M0,0v65h77V0H0z M73,61H4V4h69V61z"/>
            </svg></div>
        </div>
        <ul class="bread-crumbs">
            <% for (var i = 0 ; i < size ; i++) { %>
            <li></li>
            <% } %>
        </ul>
    </div>
</div>
