<div class="textPopup">
    <div class="scrollable-wrapper">
        <div class="scroll-box">
            <span class="scroll-thumb"></span>
            <span class="scroll-bar"></span>
            <div class="scrollable">
                 
                <div>
                	<h2><%= title  %></h2>
                	<p id='biography'>
                		<%= body %>
                	</p>
                </div>
            </div>
            <div class="gradient"></div>
        </div>
    </div>
</div>