
<div class="top-menu grid-2">
    <div class="thetake-main">
        <ul>
            <li class="section-title faded"></li>
            <li class="section-title faded"></li>
            <li class="section-title faded"></li>
            <li class="section-title faded"></li>
            <li class="section-title faded"></li>
        </ul>
        <!--<i class="thetake close focusable" id="NBC_UF_x_button" data-position="0,0" data-action="onClose"></i>-->
    </div>
</div>
<div id="thetake-content">
    <ul class="tt_character_name">
        <li class="section-title"><%= characterName %></li>
    </ul>
    <div class="scrollable-wrapper grid-container" id="tab-view">
        <ul class="scrollable grid-2" id="tt_character_products">
        </ul>
        <!--<div class="button_container">-->
            <!--<button class="tt_trending_button focusable" data-position="4,0" data-action="loadPreviousPage">PREVIOUS PAGE</button>-->
        <!--</div>-->

        <!--<div class="button_container2">-->
            <!--<button class="tt_trending_button focusable" data-position="4,1" data-action="loadNextPage">NEXT PAGE</button>-->
        <!--</div>-->
    </div>
</div>
<div class="thetake-disclaimer">No express or implied endorsement of or testimonial about any product or service is made by or attributed to any cast or crew member, or NBCUniversal Media, LLC, its parent, or any of its affiliates or employees.</div>
