<div class="scrollable-wrapper grid-container" id="tab-view">
    <ul class="scrollable grid-2" id="tt_characters">

    </ul>
</div>
<div class="thetake-disclaimer">No express or implied endorsement of or testimonial about any product or service is made by or attributed to any cast or crew member, or NBCUniversal Media, LLC, its parent, or any of its affiliates or employees.</div>
<!--<div class="overlay" style="background-image: url('../Assets/cast_crew_screen_shot.png'); width:1920px; height:1080px; opacity: 0.3; top:-50px; left:200px;"></div>-->