<div class="tt_product_background"></div>
<!--<i class="thetake_details focusable" data-position="0,0" data-action="onClose"></i>-->
<!--<div data-position="0,0"></div>-->
<div id="product-details">
    <div class="tt_get_it_product_image">
        <img style="max-width:100%; height:249px;" src="<%= productImage %>">
    </div>
    <span id="tt_title"><%= titleText %>
        <span class="tt_the">THE</span>
        <span class="tt_take">TAKE</span>
    </span>

    <div class="tt_text">Visit the link below on your phone, tablet or computer to shop the look.</div>
    <div class="tt_product_link"><%= shortUrl %></div>
    <div class="tt_line left"></div>
    <div class="tt_line right"></div>
    <div class="tt_or">OR</div>
    <div class="text_results">MESSAGE SENT</div>
    <div class="text_me_container">
        <i class="tt_phone_icon"></i>
        <div class="tt_text_me">Text me the link</div>
        <div class="tt_text_box">
            <span id="tt_typed" class="tt_typed"></span>
            <!--<div id="tt_caret" class="tt_caret"></div>-->
            <span id="tt_complete" class="tt_complete"></span>
        </div>
        <div class="tt_send_button" data-position="1,0" data-action="onSend">SEND
            <div class="tt_send_border"></div>
        </div>
        <div id="tt_numeric_keyboard" class="simple-keyboard">
            <span class='share-letter' data-down-position="2,0" data-left-position="2,10" data-position="2,0">0</span>
            <span class='share-letter' data-down-position="2,1" data-position="2,1">1</span>
            <span class='share-letter' data-down-position="2,2" data-position="2,2">2</span>
            <span class='share-letter' data-down-position="2,3" data-position="2,3">3</span>
            <span class='share-letter' data-down-position="2,4" data-position="2,4">4</span>
            <span class='share-letter' data-down-position="2,5" data-position="2,5">5</span>
            <span class='share-letter' data-down-position="2,6" data-position="2,6">6</span>
            <span class='share-letter' data-down-position="2,7" data-position="2,7">7</span>
            <span class='share-letter' data-down-position="2,8" data-position="2,8">8</span>
            <span class='share-letter' data-down-position="2,9" data-position="2,9">9</span>
            <span id="keyboard-backspace" class='share-letter' data-right-position="2,0" data-position="2,10">&#x232b;</span>

        </div>
    </div>
    <div id="thetake_logo">
        <img src="Assets/Image/Artwork/Backgrounds/Style/NG_timeline_TheTake_com.png">
    </div>
</div>
<div class="thetake-disclaimer">Messaging and data rates may apply. Your phone number will be used to send the requested link. For more information, go to <u>https://thescript.thetake.com/privacy/</u>.</div>