<div class="top-menu grid-2 thetake">
    <div class="thetake-main">
        <ul id="tt_category_list">
            <li class="section-title focusable" data-position="0,0" data-action="onTrending"  >Trending</li>
        </ul>
    </div>
</div>
<div id="thetake-content">
</div>
<div class="thetake-disclaimer">No express or implied endorsement of or testimonial about any product or service is made by or attributed to any cast or crew member, or NBCUniversal Media, LLC, its parent, or any of its affiliates or employees.</div>