<li class="product image col-4 row-2" style="background-image:url(<%= keyFrameImage['500pxKeyFrameLink'] %>);" data-position="<%= position %>" data-role="<%= productId %>" data-action="showProductDetails">
    <div class="marker">
        <div class="marker-outer-ring" style="top:<%= keyFrameProductY*100 %>%; left:<%= keyFrameProductX*100 %>%">
            <div class="marker-inner-ring">

            </div>
        </div>
    </div>
    <div class="product-name"> <%= productName %></div>
</li>


