<div class="tt_product_background"></div>
<!--<i class="thetake_details focusable" data-position="0,0" data-size="1,3" data-action="onClose"></i>-->
<!--<i class="tt_back_button" data-position="0,0" data-action="onBack"></i>-->
<div id="product-details">
    <div class="tt_product_container">
        <div class="tt_product_image" style="max-width: 760px; overflow: hidden">
            <img style="height:363px;left: 50%;position: relative;transform: translate(-50%); -webkit-transform: translate(-50%); -moz-transform: translate(-50%); -o-transform: translate(-50%); -ms-transform: translate(-50%);" src="<%= productImage %>">
        </div>
        <div class="tt_product_details_container" style="max-width: 525px;">
            <div class="product-detail-title"><%= title %></div>
            <div class="product-detail-name"><%= productBrand %> <%= productName %></div>
            <div class="product-price"><%= productPrice %></div>
            <!-- <i class="tt_get_it" data-position="1,0" data-disabled="1" data-right-position="0,1" data-left-position="0,0" data-up-position="0,1" data-role="<%= productId %>" data-action="onGetIt"></i> -->
            <!--<i class="tt_share" data-position="1,1" data-role="<%= productId %>" data-action="onShare"></i>-->
        </div>
    </div>
    <div class="tt_similar_styles">
        <div class="tt_line left_ss"></div>
        <span id="tt_ss_header">SIMILAR STYLES</span>
        <div class="tt_line right_ss"></div>

    </div>
    <div id="tt_comps"></div>
    <div class="tt_more_from_outfit">
        <div class="tt_line left_more"></div>
        <div id="tt_accessories_header">MORE FROM THIS OUTFIT</div>
        <div class="tt_line right_more"></div>
    </div>

    <div id="thetake_logo">
        <img src="Assets/Image/Artwork/Backgrounds/Style/NG_timeline_TheTake_com.png">
    </div>
</div>
<div class="thetake-disclaimer">No express or implied endorsement of or testimonial about any product or service is made by or attributed to any cast or crew member, or NBCUniversal Media, LLC, its parent, or any of its affiliates or employees.</div>