<li class="tt_product_thumb_li" data-position="<%= position %>" data-up-position="<%= up_position %>" data-role="<%= productId %>" style="background-image: url(<%= image %>)">
    <div class="marker">
        <div class="marker-outer-ring" style="top:<%= marker_y %>%; left:<%= marker_x %>%">
            <div class="marker-inner-ring">
            </div>
        </div>
    </div>
    <p class="tt_product_name"><%= productBrand %> - <%= productName %></p>
    <div class="tt_thumb_border"></div>
</li>
