<div class="scrollable-wrapper grid-container" id="tab-view">
    <ul class="scrollable grid-2" id="tt_trending">
    </ul>
    <!--<div class="button_container">-->
        <!--<button class="tt_trending_button focusable" data-position="3,0" data-action="loadPreviousPage">PREVIOUS PAGE</button>-->
    <!--</div>-->

    <!--<div class="button_container2">-->
        <!--<button class="tt_trending_button focusable" data-position="3,1" data-action="loadNextPage">NEXT PAGE</button>-->
    <!--</div>-->
</div>
