<div class="close-button-clickable-area"></div>
<div class="focusable close" data-position="0,0" data-action="onBackButtonPressed">
    <i class="close close-detail">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 40 40" style="enable-background:new 0 0 40 40;" xml:space="preserve">
            <style type="text/css">
                .st0 {
                    fill: #FFF;
                }
            </style>
            <path class="st0" d="M20,0C9,0,0,9,0,20c0,11,9,20,20,20s20-9,20-20C40,9,31,0,20,0z M20,37c-9.4,0-17-7.6-17-17S10.6,3,20,3s17,7.6,17,17S29.4,37,20,37z"
            />
            <polygon class="st0" points="29.9,9 25.7,9 20,17 14.3,9 10.1,9 17.9,20 10.1,31 14.3,31 20,23 25.7,31 29.9,31 22.1,20 " />
        </svg>
    </i>
</div>
<video playsinline webkit-playsinline muted class="pp3-places-video inline" style="position:absolute;left:0;top:0;bottom:0;right:0"></video>
<video playsinline webkit-playsinline muted class="pp3-places-video inline" style="position:absolute;left:0;top:0;bottom:0;right:0;display:none"></video>
<div id="hub-background" class="background preload showing"></div>
<div id="hub-touch-panel"></div>
<div id="hub-nav-touch-area"></div>
<div id="hub-nav-selection"></div>
<div id="hub-nav" class="preload focusable active focused small" data-position="1,0" data-right-position="1,0" data-left-position="1,0"
    data-action="onNavSelect"></div>
<div id="nav-link-left" class="nav-link preload"></div>
<div id="nav-link-1" class="nav-link preload "></div>
<div id="nav-link-2" class="nav-link preload "></div>
<div id="nav-link-3" class="nav-link preload "></div>
<div id="nav-link-4" class="nav-link preload "></div>
<div id="nav-link-5" class="nav-link preload "></div>
<div id="nav-link-right" class="nav-link preload"></div>