/* Montserrat */
@font-face {
    font-family: "Montserrat";
    font-weight: 700;
    src: url("Assets/Fonts/Montserrat-Black.otf");
}
@font-face {
    font-family: "Montserrat";
    font-weight: 700;
    src: url("Assets/Fonts/Montserrat-Bold.otf");
}
@font-face {
    font-family: "Montserrat";
    font-weight: 100;
    src: url("Assets/Fonts/Montserrat-Hairline.otf");
}
@font-face {
    font-family: "Montserrat";
    font-weight: 200;
    src: url("Assets/Fonts/Montserrat-Light.otf");
}
@font-face {
    font-family: "Montserrat";
    font-weight: 400;
    src: url("Assets/Fonts/Montserrat-Regular.otf");
}

/* Orbitron */
@font-face {
    font-family: "Orbitron";
    src: url("Assets/Fonts/Google_Fonts/Orbitron/Orbitron-Black.ttf");
}
@font-face {
    font-family: "Orbitron";
    src: url("Assets/Fonts/Google_Fonts/Orbitron/Orbitron-Bold.ttf");
}
@font-face {
    font-family: "Orbitron";
    src: url("Assets/Fonts/Google_Fonts/Orbitron/Orbitron-Medium.ttf");
}
@font-face {
    font-family: "Orbitron";
    src: url("Assets/Fonts/Google_Fonts/Orbitron/Orbitron-Regular.ttf");
}

/* Roboto */
@font-face {
    font-family: "Roboto";
    src: url("Assets/Fonts/Google_Fonts/Roboto/Roboto-Black.ttf");
}
@font-face {
    font-family: "Roboto";
    src: url("Assets/Fonts/Google_Fonts/Roboto/Roboto-BlackItalic.ttf");
}
@font-face {
    font-family: "Roboto";
    src: url("Assets/Fonts/Google_Fonts/Roboto/Roboto-Bold.ttf");
}
@font-face {
    font-family: "Roboto";
    src: url("Assets/Fonts/Google_Fonts/Roboto/Roboto-BoldItalic.ttf");
}
@font-face {
    font-family: "Roboto";
    src: url("Assets/Fonts/Google_Fonts/Roboto/Roboto-Italic.ttf");
}
@font-face {
    font-family: "Roboto";
    src: url("Assets/Fonts/Google_Fonts/Roboto/Roboto-Light.ttf");
}
@font-face {
    font-family: "Roboto";
    src: url("Assets/Fonts/Google_Fonts/Roboto/Roboto-LightItalic.ttf");
}
@font-face {
    font-family: "Roboto";
    src: url("Assets/Fonts/Google_Fonts/Roboto/Roboto-Medium.ttf");
}
@font-face {
    font-family: "Roboto";
    src: url("Assets/Fonts/Google_Fonts/Roboto/Roboto-MediumItalic.ttf");
}
@font-face {
    font-family: "Roboto";
    src: url("Assets/Fonts/Google_Fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
    font-family: "Roboto";
    src: url("Assets/Fonts/Google_Fonts/Roboto/Roboto-Thin.ttf");
}
@font-face {
    font-family: "Roboto";
    src: url("Assets/Fonts/Google_Fonts/Roboto/Roboto-ThinItalic.ttf");
}

/* RobotoCondensed */
@font-face {
    font-family: "RobotoCondensed";
    src: url("Assets/Fonts/Google_Fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf");
}
@font-face {
    font-family: "RobotoCondensed";
    src: url("Assets/Fonts/Google_Fonts/Roboto_Condensed/RobotoCondensed-BoldItalic.ttf");
}
@font-face {
    font-family: "RobotoCondensed";
    src: url("Assets/Fonts/Google_Fonts/Roboto_Condensed/RobotoCondensed-Italic.ttf");
}
@font-face {
    font-family: "RobotoCondensed";
    src: url("Assets/Fonts/Google_Fonts/Roboto_Condensed/RobotoCondensed-Light.ttf");
}
@font-face {
    font-family: "RobotoCondensed";
    src: url("Assets/Fonts/Google_Fonts/Roboto_Condensed/RobotoCondensed-LightItalic.ttf");
}
@font-face {
    font-family: "RobotoCondensed";
    src: url("Assets/Fonts/Google_Fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf");
}