
<div id="floorNavigationBackground">
    <div id="JWFK_360_floorPlan_map_reception"></div>
    <div id="JWFK_360_floorPlan_map_library"></div>
    <div id="JWFK_360_floorPlan_map_subLab"></div>
    <div id="JWFK_360_floorPlan_map_gangway"></div>
    <div id="JWFK_360_floorPlan_map_containment"></div>

    <div id="content-items" data-position="0,0"></div>
    <div
        id="JWFK_360_floorPlan_nav_close"
        class="focusable"
        data-position="0,5"
        data-action="onSelectedFloorClose">
    </div>
</div>

